/*
 * Base structure
 */

html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: 'Open Sans', 'Segoe UI', Helvetica, Verdana, Arial, sans-serif;
    font-weight: 300;
    background-color: white;
    height: 100%;
    width: 100%;
    outline: none;
    color: #777;
    overflow-y: auto;
    overflow-x: auto;
}

    body > .container-fluid {
        overflow-y: auto;
        overflow-x: auto; 
        min-width: 1400px;
        min-height: 700px;
        padding: 0px;
        margin-top: 50px;
    }

/*
 * Top navigation
 */

.navbar {
    color: white;
    margin-bottom: 0px;
}

    .navbar .navbar-brand {
        font-size: 30px;
        padding-top: 15px;
        padding-left: 15px;
        color: white;
    }

.navbar-fixed-top {
    border: 0px;
}

/*
 * Main content
 */

.main {
    float: left;
    width: 1020px;
    height: 460px;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: white;
    overflow: visible;
    horizontal-align: middle;
    vertical-align: middle;
}

    .main > .top {
        position: relative;
        background-color: white;
        color: black;
        padding: 0px;
        height: relative;
        width: relative;
        margin: auto;
       /* margin-bottom: 0px;
        margin-top: 0px;*/
        font-size: 15px;
        overflow: visible;
        horizontal-align: middle;
        vertical-align: middle;
    }

        .main > .top > #datamap{
            display: block;
            horizontal-align: middle;
            vertical-align: middle;
            margin: auto;
            background-color: white;
            position: relative;
            height: relative;
            width: relative;
            /*top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;*/
        }

        .main > .top > #datamap > svg{
            position: relative;
            height: relative;
            width: relative;
            top: 0px;
            /*margin: auto;*/
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 100px;
            margin-right: 0px;            
            overflow: visible;
            horizontal-align: middle;
            vertical-align: middle;
        }

        /*.main > .top > #datamap > svg .datamaps-subunits{
            height: 100%;
        }*/

    .main > .bottom {
        position: relative;
        background-color: white;
        color: black;
        padding: 0px;
        height: 50px;
        width: 1000px;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 75px;
        font-size: 15px;
    }

/*
 * Sidebar
 */

.sidebar {
    float: left;
    width: 330px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 0px;
    background-color: white;
}

    .sidebar > .top {
        background-color: white;
        color: black;
        padding: 10px;
        height: 360px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 13px;
    }

    .sidebar > .middle {
        background-color: white;
        color: black;
        padding: 10px;
        height: 100px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }

    .sidebar > .bottom {
        background-color: white;
        color: black;
        padding: 10px;
        height: 100px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }

/*
 * Additional content
 */

.left {
    float: left;
    width: 675px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
}

    .left > .chart{
        position: relative;
        background-color: white;
        color: black;
        padding: 0px;
        height: 330px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 100px;
    }

        .left > .chart > #worldarea{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
        }

.right {
    float: left;
    width: 675px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    background-color: white;
    position: relative;
}

    .right > .chart{
        position: relative;
        background-color: white;
        color: black;
        padding: 0px;
        height: 330px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .right > .chart > #countryarea{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
        }

/*
** Modal
*/


